
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h1>@Model</h1>
<form action="/" method="post">
    <input type="text" name="name" value="" placeholder="Give the word" required />
    <button type="submit">Check</button>
</form>

