@model bool
@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your word is an anagramm: @Model</h1>
body{
background-image:url('https://www.google.hu/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjs0b7MkPTbAhVOYlAKHU5xCu8QjRx6BAgBEAU&url=http%3A%2F%2Fharrypotter.wikia.com%2Fwiki%2FFile%3ARiddle_I_am_Lord_Voldemort.gif&psig=AOvVaw0bc70DL2MPxUvP8Jvz_qT7&ust=1530198639396914');
background-position: center;
background-size: cover;
}

