@model String
@{
    ViewData["Title"] = "Greet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

body { 
    background-image: url("http://3.bp.blogspot.com/-hHTEe8dMhWw/Vg9eREVDFSI/AAAAAAAAFrE/pUBcG_Kj-OY/s1600/frontend_main3.tgx.jpg");
    background-size: 100%;
       
}
</style>

<h2><font color="white" size="10">Greetings sire @Model! Your stronghold awaits you</font></h2>


